* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./userwelcome";
@import "./bankbanner";
@import "./dashboardhome";
@import "./sidenav";
@import "./accountdashboard";
@import "./quickaccessdashboard";
@import "./transaction-dashboard";
@import "./spendingdashboard";
