* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

main {
  max-width: 75%;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 35px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.35rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1.05rem;
}

p {
  font-size: 1rem;
}

a {
  /* color: #0072ee; */
  color: #006be0;
}

#navbar-img {
  width: 3em;
  height: 3em;
}

.error {
  color: red;
}

.centerBalance {
  line-height: 150%;
  text-align: center;
}

#balance {
  font-weight: bolder;
  font-size: 4em;
}

.rightAlign {
  display: block;
  margin: 10px;
}

.rightAlign span {
  display: block;
  margin-right: 10px;
  font-size: 3.5em;
}

.btn-primary {
  background-color: #0072ee;
}

.btnContainer {
  text-align: right;
}

.dashboard-header {
  padding-bottom: 5%;
}

#printBtn {
  text-align: center;
  padding-top: 10%;
}

#showAllRight {
  text-align: right;
}

table {
  border: none;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
  .profile-container {
    height: 400px;
  }
}