<div id="body-box">
    <div class="container">
        <h1>{{title}}</h1>
        {{#ifEquals type "deposit"}}
            <form id="edit-deposit-form" method="post" action="/edit/{{transId}}"> {{!-- this is actually a put route but html5 doesnt allow put --}}
                <div class='form-group'>
                    <label for="deposit">Deposit Amount:</label>
                    <input type="number" placeholder="Enter deposit amount" name="deposit" id="deposit"  min="0.01" step="0.01">
                    <div class="invalid-feedback">
                        Must enter a positve amount
                    </div>
                </div>
                <div class='form-group'>
                    <label for="date">Start date:</label>
                    <input type="date" id="date" name="date">
                    <div class="invalid-feedback">
                        Must select a date
                    </div>
                </div>
                <div class="form-group">
                    <label for="tag">Choose a tag:</label>
                    <select name="tag" id="tag">        
                        <option value="investment">Investment</option>
                        <option value="salary">Salary</option>
                        <option value="other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        Must select a tag
                    </div>
                </div>
                <button type="submit" id="depositSubmit" class="btn btn-dark">Submit</button>
            </form>
        {{/ifEquals}}
        {{#ifEquals type "transaction"}}
            <form id="edit-trans-form" method="post" action="/edit/{{transId}}">
                <div class='form-group'>
                    <label for="transaction">Transaction Amount:</label>
                    <input type="number" placeholder="Enter transaction amount" name="transaction" id="transaction"  min="0.01" step="0.01">
                    <div class="invalid-feedback">
                        Must enter a positve amount
                    </div>
                </div>
                <div class='form-group'>
                    <label for="date">Start date:</label>
                    <input type="date" id="date" name="date">
                    <div class="invalid-feedback">
                        Must select a date
                    </div>
                </div>
                <div class='form-group'>
                    <label for="tag">Choose a tag:</label>
                    <select name="tag" id="tag">        
                        <option value="food">Food</option>
                        <option value="goods">Goods and Services</option>
                        <option value="transport">Transport</option>
                        <option value="utilities">Utilities</option>
                        <option value="other">Other</option>
                    </select>
                    <div class="invalid-feedback">
                        Must select a tag
                    </div>
                </div>
                <button type="submit" id="transSubmit" class="btn btn-dark">Submit</button>
            </form>
        {{/ifEquals}}
        <div class="error">
            {{warning}} 
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/edit.js"></script>