<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">E-Banking</h1>
        <p class="lead">
            This web application allows users to track their spending.
        </p>
        <hr class="my-4">
        <p class="font-italic">
            With our E-Banking application users can withdraw, deposit, delete, and edit payments. Our web application intends to help users make smart and conscientious decisions with their money by providing a user-friendly and brief analysis of their spending habits. We want our users to be confident in their personal finance.
        </p>
    </div>
</div>
