<div id="body-box">
  <div class="container">
    <h1>{{title}}</h1>
    <form id="signup-form" method="post" action="/signup">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="Enter first name" name="firstName" id="firstName">
        <div class="invalid-feedback">
            First name cannot be empty
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Enter last name" name="lastName" id="lastName">
        <div class="invalid-feedback">
            Last name cannot be empy
        </div>
      </div>
      <div class="form-group">
        <label for="bank">Bank Provider</label>
        <input type="text" class="form-control" placeholder="Enter bank name" name="bank" id="bank">
        <div class="invalid-feedback">
            Bank provider cannot be empty
        </div>
      </div>
      <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" placeholder="Enter email" name="email" id="email">
          <div class="invalid-feedback">
              Must provide a valid email address where the domain is your bank provider
          </div>
      </div>
      <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" placeholder="Enter password" name="password" id="password">
          <div class="invalid-feedback">
              Password must be at least six characters long
          </div>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input type="number" class="form-control" placeholder="Enter your age" name="age" id="age" min="0" step="1">
        <div class="invalid-feedback">
            Age must be a positive integer
        </div>
      </div>
      <button type="submit" id="submit" class="btn btn-dark">Sign Up</button>
    </form>
    <div class="error">
      {{warning}} 
    </div>
    <br>
    <a class="login" href="/">Already have an account? Click here to log-in</a>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/signup.js"></script>