<div id="body-box">
  <div class="container">
    <h1>{{title}}</h1>
    <form id="transaction-form" method="post" action="/dashboard/{{accountId}}">
        <div class="form-group">
          <label for="transaction">Transaction Amount:</label>
          <input type="number" class="form-control" placeholder="Enter transaction amount" name="transaction" id="transaction"  min="0.01" step="0.01">
          <div class="invalid-feedback">
              Must enter a positive amount
          </div>
        </div>
        <div class="gorm-group">
          <label for="tag">Choose a tag:</label>
          <select name="tag" id="tag" class="form-control">        
              <option value="food">Food</option>
              <option value="goods">Goods and Services</option>
              <option value="transport">Transport</option>
              <option value="utilities">Utilities</option>
              <option value="other">Other</option>
          </select>
          <div class="invalid-feedback">
            Must select a tag
          </div>
        </div>
        <button type="submit" id="transactionSubmit" class="btn btn-dark">Submit</button>
    </form>
    <div class="error">
      {{warning}} 
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="/public/js/transaction.js"></script>